@font-face {
  font-family: 'BentonMod';
  src: url('/fonts/BentonModDisp-Regular.otf');
}
@font-face {
  font-family: 'TradeGothic';
  src: url('/fonts/TradeGothic-Cn18.otf');
}
@font-face {
  font-family: 'TradeGothic20';
  src: url('/fonts/TradeGothicLTStd-BdCn20.otf');
}

html, body, #app {
	width: 100%;
	min-height: 100%;
	background-color: #000;
}

.bold {
	font-weight: 700;
}

table.bold *,
tr.bold *,
th.bold {
	font-weight: bold !important;
}

/**************
 * ANIMATIONS *
 **************/



.animate-orgs:first-of-type {
	opacity: 0;
	animation: reveal-org .8s ease 2s;
	animation-fill-mode: forwards;
}

.animate-orgs:nth-of-type(2) {
	opacity: 0;
	animation: reveal-org .8s ease 6s;
	animation-fill-mode: forwards;
}

.animate-orgs:nth-of-type(3) {
	opacity: 0;
	animation: reveal-org .8s ease 10s;
	animation-fill-mode: forwards;

}

.animate-orgs:nth-of-type(4) {
	opacity: 0;

	animation: reveal-org .8s ease 14s;
	animation-fill-mode: forwards;
}

.animate-orgs:nth-of-type(5) {
	opacity: 0;

	animation: reveal-org .8s ease 18s;
	animation-fill-mode: forwards;
}

.animate-orgs:nth-of-type(6) {
	opacity: 0;

	animation: reveal-org .8s ease 22s;
	animation-fill-mode: forwards;
}

.animate-orgs:nth-of-type(7) {
	opacity: 0;

	animation: reveal-org .8s ease 26s;
	animation-fill-mode: forwards;
}
.animate-orgs:nth-of-type(8) {
	opacity: 0;

	animation: reveal-org .8s ease 30s;
	animation-fill-mode: forwards;
}
.animate-orgs:nth-of-type(9) {
	opacity: 0;

	animation: reveal-org .8s ease 34s;
	animation-fill-mode: forwards;
}
.animate-orgs:nth-of-type(10) {
	opacity: 0;

	animation: reveal-org .8s ease 38s;
	animation-fill-mode: forwards;
}

@keyframes reveal-org {
	100%   { opacity: 1; }
}





@-webkit-keyframes animate-bar {
	0% { height: 0%; }
}

@keyframes animate-bar {
	0% { height: 0%; }
}

@-webkit-keyframes reduce-bar {
	100% { height: 0%; }
}



@-webkit-keyframes fade-bar {
	100% { opacity: .3; }
}

@keyframes fade-bar {
	100% { opacity: .3; }
}


@-webkit-keyframes reveal-winner-logo {
	100% { opacity: 1; margin-top: 0; }
}


@-webkit-keyframes reveal-amount {
	100% { opacity: 1; margin-top: -47px; }
}

@-webkit-keyframes reveal-amount-white {
	100% { opacity: 1; margin-top: -90px; }
}

@-webkit-keyframes hide-amount {
	100% { opacity: 0; }
}

@keyframes reveal-amount {
	100% { opacity: 1; margin-top: -47px; background:none;}
}

@-webkit-keyframes change-color {
	100% { background-color: #00853f; }
}
