@font-face {
  font-family: 'BentonMod';
  src: url('/fonts/BentonModDisp-Regular.otf');
}
@font-face {
  font-family: 'TradeGothic';
  src: url('/fonts/TradeGothic-Cn18.otf');
}
@font-face {
  font-family: 'TradeGothic20';
  src: url('/fonts/TradeGothicLTStd-BdCn20.otf');
}

html, body {
	min-height: 100%;
}

#app {
	width: 100%;
	height: 100%;
	min-height: 100%;
	display: inline-flex;
}

.bold {
	font-weight: 700;
}

table.bold *,
tr.bold *,
th.bold {
	font-weight: bold !important;
}

// Get that specificity going
html body {
	.ui {
		&.fullscreen.modal {
			width: 100% !important;
			height: ~'calc(100% - 2rem) !important';
			position: relative;
	
			.scrolling.content {
				max-height: ~'calc(100% - 2rem)';
				font-size: 1.1em;
			}
		}

		&.search {
			.prompt {
				border-radius: 0.28571429rem;
			}
		}
	}

	@media only screen and (min-width: 1600px) {
		.ui.container {
			width: 1594px;
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}
}



/**************
 * ANIMATIONS *
 **************/

// Graph animations

.animate-orgs:first-of-type {
	opacity: 0;
	animation: reveal-org .8s ease 2s;
	animation-fill-mode: forwards;
}

.animate-orgs:nth-of-type(2) {
	opacity: 0;
	animation: reveal-org .8s ease 6s;
	animation-fill-mode: forwards;
}

.animate-orgs:nth-of-type(3) {
	opacity: 0;
	animation: reveal-org .8s ease 10s;
	animation-fill-mode: forwards;

}

.animate-orgs:nth-of-type(4) {
	opacity: 0;

	animation: reveal-org .8s ease 14s;
	animation-fill-mode: forwards;
}

.animate-orgs:nth-of-type(5) {
	opacity: 0;

	animation: reveal-org .8s ease 18s;
	animation-fill-mode: forwards;
}

.animate-orgs:nth-of-type(6) {
	opacity: 0;

	animation: reveal-org .8s ease 22s;
	animation-fill-mode: forwards;
}

.animate-orgs:nth-of-type(7) {
	opacity: 0;

	animation: reveal-org .8s ease 26s;
	animation-fill-mode: forwards;
}
.animate-orgs:nth-of-type(8) {
	opacity: 0;

	animation: reveal-org .8s ease 30s;
	animation-fill-mode: forwards;
}
.animate-orgs:nth-of-type(9) {
	opacity: 0;

	animation: reveal-org .8s ease 34s;
	animation-fill-mode: forwards;
}
.animate-orgs:nth-of-type(10) {
	opacity: 0;

	animation: reveal-org .8s ease 38s;
	animation-fill-mode: forwards;
}


@keyframes reveal-org {
	100%   { opacity: 1; }
}

@keyframes animate-bar {
	0% { height: 0%; }
}

@keyframes reduce-bar {
	100% { height: 0%; }
}

@keyframes fade-bar {
	100% { opacity: .3; }
}

@keyframes reveal-winner-logo {
	100% { opacity: 1; margin-top: 0; }
}

@keyframes reveal-amount {
	100% { opacity: 1; margin-top: -47px; }
}

/*@keyframes reveal-amount {
	100% { opacity: 1; margin-top: -47px; background:none;}
}*/

@keyframes reveal-amount-white {
	100% { opacity: 1; margin-top: -90px; }
}

@keyframes hide-amount {
	100% { opacity: 0; }
}

@keyframes change-color {
	100% { background-color: #00853f; }
}


// Pledge animations
@keyframes fade-in-scroll-up {
	0% {
		opacity: 0;
		transform: scale(0.5) translateY(15%);
	}
	1% {
		transform: scale(1.1) translateY(15%);
	}
	2% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	98% {
		transform: scale(1) translateY(-15%);
	}
	100% {
		opacity: 0;
		transform: scale(0.5) translateY(-15%);
	}
}