@sliderSize: 1.4rem;
@trackSize: 0.4rem;

.input-range__slider {
  appearance: none;
  background: #3f51b5;
  border: 1px solid #3f51b5;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: @sliderSize;
  margin-left: -(@sliderSize / 2);
  margin-top: -((@sliderSize / 2) + (@trackSize / 2));
  outline: none;
  position: absolute;
  top: 50%;
  width: @sliderSize;

  &:active {
  	transform: scale(1.3);
  }

  &:focus {
	  box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
  }

}

.input-range--disabled .input-range__slider {
  background: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: none;
  transform: none;
}

.input-range__label {
  color: #aaaaaa;
  font-family: "Helvetica Neue", san-serif;
  font-size: 0.8rem;
  transform: translateZ(0);
  white-space: nowrap;
}

.input-range__label--min,
.input-range__label--max {
  bottom: -1.4rem;
  position: absolute;
}

.input-range__label--min {
  display: none;
  left: 0;
}

.input-range__label--max {
  display: none;
  right: 0;
}

.visible .input-range__label--value {
  opacity: 1;
}

.input-range__label--value {
  opacity: 0;
  transition: opacity 0.25s ease;

  text-align: center;
  position: absolute;
  top: -3.8rem;
  left: -2.05rem;
  background-color: #e8e8e8;
  padding: 0.5rem 0.8rem;
  color: rgba(0,0,0,0.9);
  font-size: 1.2rem;
  font-weight: 700;
  border: 0 solid transparent;
  border-radius: .28571429rem;

  &:before {
    border-width: 0 1px 1px 0;
    top: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    top: 83%;
    left: 42%;

    position: absolute;
    content: '';
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-image: none;
    z-index: 2;
    width: .6666em;
    height: .6666em;
    -webkit-transition: background .1s ease;
    transition: background .1s ease;

    background-color: inherit;
    background-image: inherit;
    border-width: none;
    border-style: solid;
    border-color: inherit;
  }
}

.input-range__label-container {
  position: relative;
}
.input-range__label--max .input-range__label-container {

}

.input-range__track {
  background: #eeeeee;
  border-radius: @trackSize;
  cursor: pointer;
  display: block;
  height: @trackSize;
  position: relative;
}
.input-range--disabled .input-range__track {
  background: #eeeeee;
}

.input-range__track--background {
  left: 0;
  margin-top: -(@trackSize / 2);
  position: absolute;
  right: 0;
  top: 50%;
}

.input-range__track--active {
  background: #3f51b5;
}

.input-range {
  height: @sliderSize;
  position: relative;
  width: 100%;
}
